/*-------body---------*/
body {
    background-color: #f8f8f8;
  }
  
  /*-------Navigation Style---------*/
  nav {
    width: 167px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
    margin: 2px 0 2px 890px;
    padding: 40;
  }
    header {
    width: 1440px;
    height: 56px;
    margin: 0 0 54px;
    padding: 12px 120px;
  }
  .Amber-DiPietro {
    width: 143px;
    height: 32px;
    margin: 0 890px 0 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
    .Home {
    width: 52px;
    height: 28px;
    flex-grow: 0;
      margin: 0 50px 0 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .Contact {
    width: 67px;
    height: 28px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
    /*-------Hero Space---------*/
    .intro {
    width: 486px;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    margin: 40px 20px 40px 120px;
    padding: 0;
  }
  .content {
    width: 486px;
    height: 369px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0;
  }
     .UIUX-Designer {
    height: 27px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #070055;
  }
  .headerImage {
    width: 766px;
    height: 546.9px;
    position: absolute;
    top: 110px;
    left: 650px;
    margin: 54px 0 89.1px 68px;
    object-fit: contain;
  }
    .Title {
    width: 486px;
    height: 154px;
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
  
  .Title .text-style-1 {
    color: #ffa800;
  }
 
    .introParagraph {
    width: 486px;
    height: 108px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #515151;
  }
  /*-------Buttons---------*/
  .buttons {
    width: 243px;
    height: 43px;
    text-align: center;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 20px;
  }
  .button-primary {
    width: 110px;
    height: 30px;
    text-align: center;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #070055;
  }
  
  .button-secondary {
    width: 117px;
    height: 30px;
    text-align: center;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 24px;
    border-radius: 8px;
    border: solid 2px #070055;
  }
    .linkedIn {
    width: 46px;
    height: 30px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    background-color: #f8f8f8;
    color: #070055;
  }
  .buttonP {
    width: 66px;
    height: 27px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  
 
  /*-------Project---------*/
    .projectText {
    width: 181px;
    height: 72px;
    position: absolute;
    top: 746px;
    left: 629px;
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;
    }
  .projects {
    width: 992px;
    height: 1892px;
    margin: 89.1px 226px 100px 222px;
  }
  .project-nfo1 {
    display: inline-block;
    width: 450px;
    height: 240px;
    position: absolute;
    top: 900px;
    left: 222px;
    border-radius: 20px 0px 0px 20px;
    padding: 133px 38.9px 132px 50.4px;
    background-color: #fff;
  }
  .mydiyText {
    width: 406.7px;
    height: 259px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
  }
  .MYDIY {
    height: 60px;
    align-self: stretch;
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
  .mydiyblocktext {
    height: 108px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  button {
    width: 150px;
    height: 43px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 24px;
    background-color: #fff;
    border-radius: 24px;
    border: solid 1px #070055;
  }
  .diyButton {
    width: 102px;
    height: 27px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #070055;
  }
  .yellowRectangle {
    display: inline-block;
    width: 450px;
    height: 240px;
    position: absolute;
    top: 0px;
    left: 540px;
    border-radius: 0px 20px 20px 0px;
    padding: 133px 38.9px 132px 50.4px;
    background-color: rgba(255, 199, 0, 0.38);
  }
  .project-nfo2 {
    width: 453px;
    height: 240px;
    position: absolute;
    top:550px;
    left: 535px;
    border-radius: 0px 20px 20px 0px;
    padding: 119.5px 38.9px 118.5px 50.4px;
    background-color: #fff;
  }
  .project2paragraph {
    height: 135px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  .trButton {
    width: 102px;
    height: 27px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #070055;
  }
  .blueRectangle {
    width: 496px;
    height: 479px;
    position: absolute;
    top: 00;
    left: -528px;
    padding: 0 17px 0 16px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(7, 0, 85, 0.27);
  }
  /*----------Contact Section----------*/
  .footerHeader {
    width: 425px;
    height: 72px;
    position: absolute;
    left: 500px;
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #25282b;
  }
  .connectP {
    width: 480px;
    height: 54px;
    float: left;
    flex-grow: 0;
    margin: 138px 65px 31.2px 210.5px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1f1f1f;
  }
  .contactMe {
    float: left;
    width: 216px;
    height: 33px;
    flex-grow: 0;
    margin: 138px 81px 17.5px 211px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.81);
  }
  
  .Contact-Information {
    width: 216px;
    height: 33px;
    flex-grow: 0;
    margin: 138px 81px 17.5px 211px;
    font-family: Nunito;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.81);
  }
  form
  {
    display: inline-block;
    width: 475px;
    margin: -100px 0px 0px 711px;
  
  }
  input {
    width: 400px;
    height: 40px;
    flex-grow: 0;
    border-radius: 8px;
    border: solid 1px #c8cbd2;
    background-color: #fff;
  }
  label {
    width: 80px;
    height: 27px;
    margin: 0 346px 3px 0;
    padding: 0 10px 5px 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #25282b;
  }
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    font-family: Nunito;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #fdc435;
    width: 125px;
    font-family: Nunito;
    font-weight: 600;
    color: rgb(37, 36, 36);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    bottom: 140px;
  }
  
  
  .Ambers-Portfolio-2022 {
    display: inline-block;
    width: 139px;
    height: 18px;
    margin: 0px 25px 25px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #1f1f1f;
  }

  